@import "primeicons/primeicons.css";
@import "primeflex/primeflex.scss";

* {
  box-sizing: border-box;
}

$gutter: 1rem;

nav li a.exact-active-link {
  @include styleclass("text-primary bg-red-500");
  background-color: indianred;
  cursor: pointer;
}